# Project 9 -- SEYI OGUNMODEDE

**INSTRUCTOR Help:** Dr. ward

- Help with figuring out how to write a function.

## Question 1

In [1]:
# It is helpful to use a Parquet file when we need efficient storage
# If we tried to read in all the .csv files in the disney folder the kernel would crash
# In short a Parquet file allows for high performance data compression and encoding 
# schemes to deal with large amounts of complex data. 
# The format is a column-oriented file format while .csvâ€™s tend to be row-oriented

In [62]:
# to know the files that are in the Disney directory
# using ls/anvil/projects/tdm/data/disney
# there are seperate files for each ride
# There is a ride called total.parquet
# it has information of all of the rides in it.
# to import the file which is not a csv, 
# you have to use read_parquet function

In [61]:
ls/anvil/projects/tdm/data/disney

7_dwarfs_train.csv        peoplemover.csv
alien_saucers.csv         peter_pan_s_flight.csv
ariel_s_grotto.csv        pete_s__goofy_donald.csv
astro_orbiter.csv         pete_s__minnie_daisy.csv
barnstormer.csv           philharmagic.csv
big_thunder_mtn.csv       pirate_s_adventure.csv
buzz_lightyear.csv        pirates_of_caribbean.csv
carousel_of_progress.csv  princess_hall__cinderella_elena.csv
casey_jr_splash.csv       princess_hall__rapunzel_tiana.csv
country_bears.csv         regal_carrousel.csv
dinosaur.csv              rock_n_rollercoaster.csv
dumbo.csv                 slinky_dog.csv
enchanted_tiki_rm.csv     soarin.csv
ench_tales_w__belle.csv   sorcerers_of_the_mk.csv
entities.csv              space_mountain.csv
expedition_everest.csv    spaceship_earth.csv
flight_of_passage.csv     splash_mountain.csv
hall_of_presidents.csv    swiss_family_tree.csv
haunted_mansion.csv       tom_land_speedway.csv
it_s_a_small_world.csv    tom_sawyer_island.csv
jungle_cruise.csv         total.parquet
kilimanjaro_safaris.csv   touringplans_data_dictionary.xlsx
laugh_floor.csv           town_sq_mickey.csv
liberty_sq_riverboat.csv  town_sq_tink.csv
mad_tea_party.csv         toy_story_mania.csv
magic_carpets.csv         under_the_sea.csv
main_st_vehicles.csv      update.py*
metadata.csv              winnie_the_pooh.csv
navi_river.csv

In [5]:
import pandas as pd
disney = pd.read_parquet('/anvil/projects/tdm/data/disney/total.parquet')

In [6]:
disney.head()

         date             datetime  SACTMIN  SPOSTMIN            ride_name
0  01/01/2015  2015-01-01 07:47:26      NaN       5.0  kilimanjaro_safaris
1  01/01/2015  2015-01-01 07:54:23      NaN       5.0  kilimanjaro_safaris
2  01/01/2015  2015-01-01 08:05:33      NaN       5.0  kilimanjaro_safaris
3  01/01/2015  2015-01-01 08:12:23      NaN      10.0  kilimanjaro_safaris
4  01/01/2015  2015-01-01 08:19:26      NaN      10.0  kilimanjaro_safaris

In [7]:
disney.columns

Index(['date', 'datetime', 'SACTMIN', 'SPOSTMIN', 'ride_name'], dtype='object')

In [8]:
disney['ride_name']

0         kilimanjaro_safaris
1         kilimanjaro_safaris
2         kilimanjaro_safaris
3         kilimanjaro_safaris
4         kilimanjaro_safaris
                 ...
124500      enchanted_tiki_rm
124501      enchanted_tiki_rm
124502      enchanted_tiki_rm
124503      enchanted_tiki_rm
124504      enchanted_tiki_rm
Name: ride_name, Length: 10306140, dtype: object

In [9]:
disney['ride_name'].head()

0    kilimanjaro_safaris
1    kilimanjaro_safaris
2    kilimanjaro_safaris
3    kilimanjaro_safaris
4    kilimanjaro_safaris
Name: ride_name, dtype: object

In [10]:
# to look at the unique entry in that column

disney['ride_name'].unique()

array(['kilimanjaro_safaris', 'expedition_everest', 'dinosaur',
       'spaceship_earth', 'soarin', 'rock_n_rollercoaster',
       'toy_story_mania', 'splash_mountain', 'pirates_of_caribbean',
       'navi_river', 'flight_of_passage', 'slinky_dog', 'alien_saucers',
       '7_dwarfs_train', 'pirate_s_adventure', 'astro_orbiter',
       'barnstormer', 'big_thunder_mtn', 'buzz_lightyear',
       'carousel_of_progress', 'country_bears', 'dumbo',
       'hall_of_presidents', 'haunted_mansion', 'it_s_a_small_world',
       'jungle_cruise', 'liberty_sq_riverboat', 'mad_tea_party',
       'magic_carpets', 'town_sq_mickey', 'philharmagic', 'laugh_floor',
       'peoplemover', 'peter_pan_s_flight', 'regal_carrousel',
       'princess_hall__cinderella_elena', 'princess_hall__rapunzel_tiana',
       'sorcerers_of_the_mk', 'space_mountain', 'swiss_family_tree',
       'winnie_the_pooh', 'tom_sawyer_island', 'tom_land_speedway',
       'under_the_sea', 'enchanted_tiki_rm'], dtype=object)

In [11]:
# if everything is wrapped up in a print, array will not show again. 
# output looks more natural

print(disney['ride_name'].unique())

['kilimanjaro_safaris' 'expedition_everest' 'dinosaur' 'spaceship_earth'
 'soarin' 'rock_n_rollercoaster' 'toy_story_mania' 'splash_mountain'
 'pirates_of_caribbean' 'navi_river' 'flight_of_passage' 'slinky_dog'
 'alien_saucers' '7_dwarfs_train' 'pirate_s_adventure' 'astro_orbiter'
 'barnstormer' 'big_thunder_mtn' 'buzz_lightyear' 'carousel_of_progress'
 'country_bears' 'dumbo' 'hall_of_presidents' 'haunted_mansion'
 'it_s_a_small_world' 'jungle_cruise' 'liberty_sq_riverboat'
 'mad_tea_party' 'magic_carpets' 'town_sq_mickey' 'philharmagic'
 'laugh_floor' 'peoplemover' 'peter_pan_s_flight' 'regal_carrousel'
 'princess_hall__cinderella_elena' 'princess_hall__rapunzel_tiana'
 'sorcerers_of_the_mk' 'space_mountain' 'swiss_family_tree'
 'winnie_the_pooh' 'tom_sawyer_island' 'tom_land_speedway' 'under_the_sea'
 'enchanted_tiki_rm']

In [12]:
disney.groupby(['ride_name']).count()

                                   date  datetime  SACTMIN  SPOSTMIN
ride_name
7_dwarfs_train                   321631    321631     7635    313996
alien_saucers                    129876    129876     3031    126845
astro_orbiter                    293767    293767     1770    291997
barnstormer                      307835    307835     3087    304748
big_thunder_mtn                  309857    309857    11730    298127
buzz_lightyear                   316582    316582     7998    308584
carousel_of_progress             104867    104867      876    103991
country_bears                    105949    105949      362    105587
dinosaur                         252403    252403     5059    247344
dumbo                            306135    306135     2518    303617
enchanted_tiki_rm                124505    124505      550    123955
expedition_everest               275274    275274     8743    266531
flight_of_passage                184818    184818     5965    178853
hall_of_presidents                84685     84685      161     84524
haunted_mansion                  319956    319956    10887    309069
it_s_a_small_world               240979    240979     7106    233873
jungle_cruise                    298706    298706     5056    293650
kilimanjaro_safaris              257785    257785     6516    251269
laugh_floor                      244571    244571     1435    243136
liberty_sq_riverboat              89259     89259       71     89188
mad_tea_party                    303946    303946     2308    301638
magic_carpets                    300338    300338     1918    298420
navi_river                       182121    182121     4574    177547
peoplemover                      105174    105174     5149    100025
peter_pan_s_flight               311213    311213     5356    305857
philharmagic                     293820    293820     2014    291806
pirate_s_adventure                83489     83489        0     83489
pirates_of_caribbean             301946    301946    11589    290357
princess_hall__cinderella_elena  138936    138936      195    138741
princess_hall__rapunzel_tiana    139005    139005      266    138739
regal_carrousel                  286693    286693     1321    285372
rock_n_rollercoaster             277509    277509     6364    271145
slinky_dog                       135946    135946     6005    129941
soarin                           274770    274770     8850    265920
sorcerers_of_the_mk               39931     39931        5     39926
space_mountain                   321959    321959     8705    313254
spaceship_earth                  277248    277248     4482    272766
splash_mountain                  287948    287948     6875    281073
swiss_family_tree                112621    112621        0    112621
tom_land_speedway                303173    303173     3186    299987
tom_sawyer_island                108097    108097      167    107930
town_sq_mickey                   247152    247152      435    246717
toy_story_mania                  284170    284170    10483    273687
under_the_sea                    307351    307351     6829    300522
winnie_the_pooh                  312144    312144     4757    307387

In [13]:
disney['ride_name'].value_counts()

space_mountain                     321959
7_dwarfs_train                     321631
haunted_mansion                    319956
buzz_lightyear                     316582
winnie_the_pooh                    312144
peter_pan_s_flight                 311213
big_thunder_mtn                    309857
barnstormer                        307835
under_the_sea                      307351
dumbo                              306135
mad_tea_party                      303946
tom_land_speedway                  303173
pirates_of_caribbean               301946
magic_carpets                      300338
jungle_cruise                      298706
philharmagic                       293820
astro_orbiter                      293767
splash_mountain                    287948
regal_carrousel                    286693
toy_story_mania                    284170
rock_n_rollercoaster               277509
spaceship_earth                    277248
expedition_everest                 275274
soarin                             274770
kilimanjaro_safaris                257785
dinosaur                           252403
town_sq_mickey                     247152
laugh_floor                        244571
it_s_a_small_world                 240979
flight_of_passage                  184818
navi_river                         182121
princess_hall__rapunzel_tiana      139005
princess_hall__cinderella_elena    138936
slinky_dog                         135946
alien_saucers                      129876
enchanted_tiki_rm                  124505
swiss_family_tree                  112621
tom_sawyer_island                  108097
country_bears                      105949
peoplemover                        105174
carousel_of_progress               104867
liberty_sq_riverboat                89259
hall_of_presidents                  84685
pirate_s_adventure                  83489
sorcerers_of_the_mk                 39931
Name: ride_name, dtype: int64

In [14]:
disney.shape

(10306140, 5)

In [15]:
disney['ride_name'].shape

(10306140,)

In [16]:
import numpy as np
disney[disney.ride_name == 'hall_of_presidents'].shape[0]

84685

In [17]:
disney[disney.ride_name == 'hall_of_presidents']

             date             datetime  SACTMIN  SPOSTMIN           ride_name
0      01/02/2015  2015-01-02 14:35:12      NaN    -999.0  hall_of_presidents
1      01/04/2015  2015-01-04 10:35:31      NaN    -999.0  hall_of_presidents
2      01/07/2015  2015-01-07 12:00:17      NaN    -999.0  hall_of_presidents
3      01/09/2015  2015-01-09 17:03:27      NaN    -999.0  hall_of_presidents
4      01/10/2015  2015-01-10 12:27:07      NaN    -999.0  hall_of_presidents
...           ...                  ...      ...       ...                 ...
84680  12/28/2021  2021-12-28 22:36:08      NaN    -999.0  hall_of_presidents
84681  12/28/2021  2021-12-28 22:42:15      NaN    -999.0  hall_of_presidents
84682  12/28/2021  2021-12-28 22:48:12      NaN    -999.0  hall_of_presidents
84683  12/28/2021  2021-12-28 22:54:10      NaN    -999.0  hall_of_presidents
84684  12/28/2021  2021-12-28 23:00:27      NaN    -999.0  hall_of_presidents

[84685 rows x 5 columns]

In [18]:
(disney['ride_name']=='hall_of_presidents').sum()

84685

In [19]:
disney['ride_name'].value_counts()['hall_of_presidents']

84685

In [20]:
# this will display both true and false

len(disney['ride_name']=='hall_of_presidents')

10306140

In [21]:
# This gives a value for 'hall_of_presidents'

len(disney[disney['ride_name']=='hall_of_presidents'])

84685

Since there is a lot of new ride data, letâ€™s print the name of each ride.

How many rows of data are there for each ride?

What is different about the information that you receive if you use the groupby() vs value.count()? For groupby it gave four columns output which both data and datetime gave same value, while value count gave a single columns and with no confussion.

Which one yields the information asked by question 1b? value count Why? gave a single columns and with no confussion

Go ahead and import the numpy package and see if you can find the frequency of JUST the ride named hall_of_presidents from the column ride_name. Under Helpful Hint there are two different ways to do that, but can you come up with a third?

## Question 2

In [22]:
# picking 'kilimanjaro_safaris'
# look for the row of the dataframe = 'kilimanjaro_safaris'

In [23]:
disney[disney['ride_name'] == 'kilimanjaro_safaris'].shape

(257785, 5)

In [24]:
disney[disney['ride_name'] == 'kilimanjaro_safaris'].head()

         date             datetime  SACTMIN  SPOSTMIN            ride_name
0  01/01/2015  2015-01-01 07:47:26      NaN       5.0  kilimanjaro_safaris
1  01/01/2015  2015-01-01 07:54:23      NaN       5.0  kilimanjaro_safaris
2  01/01/2015  2015-01-01 08:05:33      NaN       5.0  kilimanjaro_safaris
3  01/01/2015  2015-01-01 08:12:23      NaN      10.0  kilimanjaro_safaris
4  01/01/2015  2015-01-01 08:19:26      NaN      10.0  kilimanjaro_safaris

In [25]:
disney[disney['ride_name'] == 'kilimanjaro_safaris'].tail()

,date,datetime,SACTMIN,SPOSTMIN,ride_name
257780,12/28/2021,2021-12-28 19:30:15,NaN,-999.0,kilimanjaro_safaris
257781,12/28/2021,2021-12-28 19:36:10,NaN,-999.0,kilimanjaro_safaris
257782,12/28/2021,2021-12-28 19:42:15,NaN,-999.0,kilimanjaro_safaris
257783,12/28/2021,2021-12-28 19:48:15,NaN,-999.0,kilimanjaro_safaris
257784,12/28/2021,2021-12-28 19:54:10,NaN,-999.0,kilimanjaro_safaris

In [26]:
disney[disney['ride_name'] == 'kilimanjaro_safaris']['date']

0         01/01/2015
1         01/01/2015
2         01/01/2015
3         01/01/2015
4         01/01/2015
             ...
257780    12/28/2021
257781    12/28/2021
257782    12/28/2021
257783    12/28/2021
257784    12/28/2021
Name: date, Length: 257785, dtype: object

In [27]:
# converting the data to datetime first
# then .dt.year will work afterwards

pd.to_datetime(disney[disney['ride_name'] == 'kilimanjaro_safaris']['date']).dt.year

0         2015
1         2015
2         2015
3         2015
4         2015
          ...
257780    2021
257781    2021
257782    2021
257783    2021
257784    2021
Name: date, Length: 257785, dtype: int64

In [28]:
# then i can aggregate my data to pull out whatever i want.

pd.to_datetime(disney[disney['ride_name'] == 'kilimanjaro_safaris']['date']).dt.year.agg(['min','max'])

min    2015
max    2021
Name: date, dtype: int64

In [29]:
disney[disney['ride_name'] == 'flight_of_passage'].head()

         date             datetime  SACTMIN  SPOSTMIN          ride_name
0  05/26/2017  2017-05-26 09:06:38      NaN    -999.0  flight_of_passage
1  05/26/2017  2017-05-26 09:10:11     47.0       NaN  flight_of_passage
2  05/26/2017  2017-05-26 09:10:12      NaN       5.0  flight_of_passage
3  05/26/2017  2017-05-26 09:17:09      NaN      60.0  flight_of_passage
4  05/26/2017  2017-05-26 09:24:07      NaN      60.0  flight_of_passage

In [30]:
disney[disney['ride_name'] == 'flight_of_passage'].tail()

              date             datetime  SACTMIN  SPOSTMIN          ride_name
184813  12/28/2021  2021-12-28 19:35:47      NaN      90.0  flight_of_passage
184814  12/28/2021  2021-12-28 19:42:15      NaN      90.0  flight_of_passage
184815  12/28/2021  2021-12-28 19:48:15      NaN      90.0  flight_of_passage
184816  12/28/2021  2021-12-28 19:54:10      NaN      90.0  flight_of_passage
184817  12/28/2021  2021-12-28 19:58:35      NaN      80.0  flight_of_passage

In [31]:
pd.to_datetime(disney[disney['ride_name'] =='flight_of_passage']['date']).dt.year.agg(['min','max'])

min    2017
max    2021
Name: date, dtype: int64

In [32]:
def oldandrecentyears(myride: str)-> None:
    """
    oldadrecentyears accept myride as an arguments and print old and recent years for that ride
    Args:
        my ride (str): The ride for which we want to find old and recent years
    Returns:
        None: This function doesnot return any value.
              Instead it prints old and recent values of the years for a ride    
    """
    # make a data frame with the rows corresponding to my ride and extract old and recent years
    print(pd.to_datetime(disney[disney['ride_name'] ==myride]['date']).dt.year.agg(['min','max'])) 
    return None

In [33]:
oldandrecentyears('kilimanjaro_safaris')

min    2015
max    2021
Name: date, dtype: int64

In [34]:
oldandrecentyears('flight_of_passage')

min    2017
max    2021
Name: date, dtype: int64

In [35]:
oldandrecentyears('mad_tea_party')

min    2015
max    2021
Name: date, dtype: int64

Create a new function that accepts a ride name as an argument, and prints two things: (1) the first year the data for that ride was collected, and (2) the most recent year that the data for that ride was collected.

## Question 3

In [36]:
# the total row
disney.shape[0]

10306140

In [37]:
disney['SPOSTMIN'].head()

0     5.0
1     5.0
2     5.0
3    10.0
4    10.0
Name: SPOSTMIN, dtype: float64

In [38]:
disney['SACTMIN'].head()

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: SACTMIN, dtype: float64

In [39]:
# Lookig in to see, are those values null?
# the first values are not null 
# the last values are not null

disney['SPOSTMIN'].isnull()

0         False
1         False
2         False
3         False
4         False
          ...
124500    False
124501    False
124502    False
124503    False
124504    False
Name: SPOSTMIN, Length: 10306140, dtype: bool

In [40]:
#Then we can summ up to know the null values that are in between
# sum up the trues and falses
# True values become a 1 when we sum and false values become 0
# There are 192389 NAN values in the SPOSTMIN column


disney['SPOSTMIN'].isnull().sum()

192389

In [41]:
#Then we can summ up to know the null values that are in between
# sum up the trues and falses
# True values become a 1 when we sum and false values become 0
# There are 10113751 NAN values in the SPOSTMIN column


disney['SACTMIN'].isnull().sum()

10113751

In [42]:
# The total number of NAN values is the same as the total number of rows in the data frame
# There is one NAN value per row, in either column 
# there is going to one NAN value and one actual value 

disney['SPOSTMIN'].isnull().sum() + disney['SACTMIN'].isnull().sum()

10306140

In [43]:
# we will not actually integrate this into the data frame as a new column, 
# but we could if we wanted to 

newcolumn = disney['SACTMIN'].combine_first(disney['SPOSTMIN'])

In [44]:
newcolumn.head()

0     5.0
1     5.0
2     5.0
3    10.0
4    10.0
Name: SACTMIN, dtype: float64

In [45]:
# we have removed all NAN values when building this new column! Every value is present now; nothing missing

newcolumn.isnull().sum()

0

In [46]:
# the length of the newcolumn is the same as the number of rows in the data frame itself 

len(newcolumn)

10306140

How many total rows of data do we have?

How many non-null rows for SPOSTMIN?

How many non-null rows for SACTMIN?

Combine columns SPOSTMIN and SACTMIN to create a new variable named newcolumn

What is the length of newcolumn? Is that the same as the number of rows in the disney dataframe?

## Question 4

In [47]:
disney.groupby('ride_name')['SACTMIN'].agg(['min','max'])

                                     min       max
ride_name
7_dwarfs_train                  -92918.0     217.0
alien_saucers                        0.0      79.0
astro_orbiter                        0.0      65.0
barnstormer                          0.0      70.0
big_thunder_mtn                      0.0     952.0
buzz_lightyear                       0.0     109.0
carousel_of_progress                 0.0      33.0
country_bears                        0.0      40.0
dinosaur                             0.0      96.0
dumbo                                0.0      75.0
enchanted_tiki_rm                    0.0      36.0
expedition_everest                   0.0     137.0
flight_of_passage                    0.0   47897.0
hall_of_presidents                   0.0      35.0
haunted_mansion                      0.0    1511.0
it_s_a_small_world                   0.0      90.0
jungle_cruise                   -79187.0     135.0
kilimanjaro_safaris                  0.0     206.0
laugh_floor                          0.0    2413.0
liberty_sq_riverboat                 0.0      16.0
mad_tea_party                        0.0     372.0
magic_carpets                        0.0      54.0
navi_river                           0.0     203.0
peoplemover                          0.0  131935.0
peter_pan_s_flight                   0.0     192.0
philharmagic                         0.0  508261.0
pirate_s_adventure                   NaN       NaN
pirates_of_caribbean                 0.0     101.0
princess_hall__cinderella_elena      0.0      82.0
princess_hall__rapunzel_tiana        0.0      75.0
regal_carrousel                      0.0     718.0
rock_n_rollercoaster                 0.0     195.0
slinky_dog                           0.0     197.0
soarin                               0.0     193.0
sorcerers_of_the_mk                  0.0       3.0
space_mountain                       0.0     193.0
spaceship_earth                      0.0      81.0
splash_mountain                      0.0     156.0
swiss_family_tree                    NaN       NaN
tom_land_speedway                    0.0     218.0
tom_sawyer_island                    0.0      35.0
town_sq_mickey                       0.0     114.0
toy_story_mania                      0.0   90387.0
under_the_sea                        0.0     113.0
winnie_the_pooh                      0.0      73.0

In [68]:
# Instead of working on the entire data frame you can go in 
# and work on the value that the 'SACTMIN' is less than 0 to 
# then we can work around the values with min 0
# This will show values less than 0 alone

disney[disney['SACTMIN']<0].groupby('ride_name')['SACTMIN'].agg(['min','max'])

                    min      max
ride_name
7_dwarfs_train -92918.0 -92918.0
jungle_cruise  -79187.0 -79187.0

In [69]:
# # Instead of working on the entire data frame you can go in 
# and work on the value that the 'SACTMIN' is less than or equal to 0 to 
# then we can work around the values with min 0 

disney[disney['SACTMIN']>=0].groupby('ride_name')['SACTMIN'].agg(['min','max'])

                                 min       max
ride_name
7_dwarfs_train                   0.0     217.0
alien_saucers                    0.0      79.0
astro_orbiter                    0.0      65.0
barnstormer                      0.0      70.0
big_thunder_mtn                  0.0     952.0
buzz_lightyear                   0.0     109.0
carousel_of_progress             0.0      33.0
country_bears                    0.0      40.0
dinosaur                         0.0      96.0
dumbo                            0.0      75.0
enchanted_tiki_rm                0.0      36.0
expedition_everest               0.0     137.0
flight_of_passage                0.0   47897.0
hall_of_presidents               0.0      35.0
haunted_mansion                  0.0    1511.0
it_s_a_small_world               0.0      90.0
jungle_cruise                    0.0     135.0
kilimanjaro_safaris              0.0     206.0
laugh_floor                      0.0    2413.0
liberty_sq_riverboat             0.0      16.0
mad_tea_party                    0.0     372.0
magic_carpets                    0.0      54.0
navi_river                       0.0     203.0
peoplemover                      0.0  131935.0
peter_pan_s_flight               0.0     192.0
philharmagic                     0.0  508261.0
pirates_of_caribbean             0.0     101.0
princess_hall__cinderella_elena  0.0      82.0
princess_hall__rapunzel_tiana    0.0      75.0
regal_carrousel                  0.0     718.0
rock_n_rollercoaster             0.0     195.0
slinky_dog                       0.0     197.0
soarin                           0.0     193.0
sorcerers_of_the_mk              0.0       3.0
space_mountain                   0.0     193.0
spaceship_earth                  0.0      81.0
splash_mountain                  0.0     156.0
tom_land_speedway                0.0     218.0
tom_sawyer_island                0.0      35.0
town_sq_mickey                   0.0     114.0
toy_story_mania                  0.0   90387.0
under_the_sea                    0.0     113.0
winnie_the_pooh                  0.0      73.0

In [52]:
disney.groupby('ride_name')['SPOSTMIN'].agg(['min','max'])

                                   min    max
ride_name
7_dwarfs_train                  -999.0  300.0
alien_saucers                   -999.0  190.0
astro_orbiter                   -999.0  180.0
barnstormer                     -999.0  120.0
big_thunder_mtn                 -999.0  300.0
buzz_lightyear                  -999.0  160.0
carousel_of_progress            -999.0   80.0
country_bears                   -999.0   45.0
dinosaur                        -999.0  300.0
dumbo                           -999.0  150.0
enchanted_tiki_rm               -999.0   40.0
expedition_everest              -999.0  180.0
flight_of_passage               -999.0  390.0
hall_of_presidents              -999.0  120.0
haunted_mansion                 -999.0  180.0
it_s_a_small_world              -999.0  200.0
jungle_cruise                   -999.0  195.0
kilimanjaro_safaris             -999.0  300.0
laugh_floor                     -999.0  100.0
liberty_sq_riverboat            -999.0   30.0
mad_tea_party                   -999.0   90.0
magic_carpets                   -999.0   90.0
navi_river                      -999.0  225.0
peoplemover                     -999.0   65.0
peter_pan_s_flight              -999.0  300.0
philharmagic                    -999.0   90.0
pirate_s_adventure              -999.0    5.0
pirates_of_caribbean            -999.0  185.0
princess_hall__cinderella_elena -999.0  140.0
princess_hall__rapunzel_tiana   -999.0  140.0
regal_carrousel                 -999.0   65.0
rock_n_rollercoaster            -999.0  300.0
slinky_dog                      -999.0  305.0
soarin                          -999.0  240.0
sorcerers_of_the_mk             -999.0    0.0
space_mountain                  -999.0  330.0
spaceship_earth                 -999.0  155.0
splash_mountain                 -999.0  300.0
swiss_family_tree               -999.0   20.0
tom_land_speedway               -999.0  110.0
tom_sawyer_island               -999.0   65.0
town_sq_mickey                  -999.0  230.0
toy_story_mania                 -999.0  300.0
under_the_sea                   -999.0  180.0
winnie_the_pooh                 -999.0  230.0

In [53]:
# Instead of working on the entire data frame you can go in 
# and work on the value that the SPOSTMIN is not equal to -999
# then we can work around the values with min 0

disney[disney['SPOSTMIN'] !=-999.0].groupby('ride_name')['SPOSTMIN'].agg(['min','max'])

                                 min    max
ride_name
7_dwarfs_train                   0.0  300.0
alien_saucers                    0.0  190.0
astro_orbiter                    0.0  180.0
barnstormer                      0.0  120.0
big_thunder_mtn                  0.0  300.0
buzz_lightyear                   0.0  160.0
carousel_of_progress             0.0   80.0
country_bears                    0.0   45.0
dinosaur                         0.0  300.0
dumbo                            0.0  150.0
enchanted_tiki_rm                0.0   40.0
expedition_everest               0.0  180.0
flight_of_passage                0.0  390.0
hall_of_presidents               0.0  120.0
haunted_mansion                  0.0  180.0
it_s_a_small_world               0.0  200.0
jungle_cruise                    0.0  195.0
kilimanjaro_safaris              0.0  300.0
laugh_floor                      0.0  100.0
liberty_sq_riverboat             0.0   30.0
mad_tea_party                    0.0   90.0
magic_carpets                    0.0   90.0
navi_river                       0.0  225.0
peoplemover                      0.0   65.0
peter_pan_s_flight               0.0  300.0
philharmagic                     0.0   90.0
pirate_s_adventure               0.0    5.0
pirates_of_caribbean             0.0  185.0
princess_hall__cinderella_elena  0.0  140.0
princess_hall__rapunzel_tiana    0.0  140.0
regal_carrousel                  0.0   65.0
rock_n_rollercoaster             0.0  300.0
slinky_dog                       0.0  305.0
soarin                           0.0  240.0
sorcerers_of_the_mk              0.0    0.0
space_mountain                   0.0  330.0
spaceship_earth                  0.0  155.0
splash_mountain                  0.0  300.0
swiss_family_tree                0.0   20.0
tom_land_speedway                0.0  110.0
tom_sawyer_island                0.0   65.0
town_sq_mickey                   0.0  230.0
toy_story_mania                  0.0  300.0
under_the_sea                    0.0  180.0
winnie_the_pooh                  0.0  230.0

In [54]:
disney.groupby('ride_name')['SACTMIN'].mean()

ride_name
7_dwarfs_train                      23.991880
alien_saucers                       22.068624
astro_orbiter                       20.402260
barnstormer                         12.528345
big_thunder_mtn                     18.331117
buzz_lightyear                      14.120780
carousel_of_progress                 4.179224
country_bears                        7.842541
dinosaur                            20.197075
dumbo                               12.894758
enchanted_tiki_rm                    9.030909
expedition_everest                  15.500858
flight_of_passage                   72.917854
hall_of_presidents                   9.590062
haunted_mansion                     16.401488
it_s_a_small_world                  13.607233
jungle_cruise                        9.899921
kilimanjaro_safaris                 22.216697
laugh_floor                         16.417422
liberty_sq_riverboat                 3.535211
mad_tea_party                        8.395581
magic_carpets                       11.471846
navi_river                          29.046130
peoplemover                         34.030686
peter_pan_s_flight                  24.087005
philharmagic                       264.642999
pirate_s_adventure                        NaN
pirates_of_caribbean                18.167141
princess_hall__cinderella_elena     21.087179
princess_hall__rapunzel_tiana       17.620301
regal_carrousel                     11.822104
rock_n_rollercoaster                29.267599
slinky_dog                          40.657119
soarin                              24.963390
sorcerers_of_the_mk                  1.200000
space_mountain                      24.409075
spaceship_earth                      9.757474
splash_mountain                     25.430836
swiss_family_tree                         NaN
tom_land_speedway                   14.126491
tom_sawyer_island                    8.209581
town_sq_mickey                      24.728736
toy_story_mania                     35.066966
under_the_sea                       12.067067
winnie_the_pooh                     16.718100
Name: SACTMIN, dtype: float64

In [55]:
disney.groupby('ride_name')['SPOSTMIN'].mean()

ride_name
7_dwarfs_train                      -2.063539
alien_saucers                      -11.284694
astro_orbiter                      -32.968253
barnstormer                        -41.245491
big_thunder_mtn                    -44.370694
buzz_lightyear                      -8.856940
carousel_of_progress              -650.041782
country_bears                     -896.332636
dinosaur                           -50.282400
dumbo                              -23.307074
enchanted_tiki_rm                 -862.087088
expedition_everest                 -45.362239
flight_of_passage                   81.639201
hall_of_presidents                -913.577824
haunted_mansion                    -20.735852
it_s_a_small_world                 -18.718403
jungle_cruise                      -31.695457
kilimanjaro_safaris                -18.065189
laugh_floor                       -101.080428
liberty_sq_riverboat              -990.322689
mad_tea_party                      -19.063550
magic_carpets                      -43.914808
navi_river                          17.269945
peoplemover                       -212.120780
peter_pan_s_flight                  18.412402
philharmagic                       -39.502447
pirate_s_adventure                -992.422056
pirates_of_caribbean               -49.029367
princess_hall__cinderella_elena    -16.975227
princess_hall__rapunzel_tiana      -19.067263
regal_carrousel                   -215.494568
rock_n_rollercoaster                 0.461432
slinky_dog                         -15.191802
soarin                              24.825876
sorcerers_of_the_mk               -972.627561
space_mountain                     -22.233954
spaceship_earth                    -28.997052
splash_mountain                    -75.123978
swiss_family_tree                 -604.446036
tom_land_speedway                  -31.644865
tom_sawyer_island                 -914.277578
town_sq_mickey                       0.279835
toy_story_mania                     17.377716
under_the_sea                      -20.302504
winnie_the_pooh                    -40.499741
Name: SPOSTMIN, dtype: float64

In [56]:
disney[disney['SPOSTMIN'] !=-999.0].groupby('ride_name')['SPOSTMIN'].mean()

ride_name
7_dwarfs_train                      76.962455
alien_saucers                       29.863351
astro_orbiter                       27.026822
barnstormer                         19.227069
big_thunder_mtn                     37.630817
buzz_lightyear                      31.639333
carousel_of_progress                 6.333389
country_bears                       14.968665
dinosaur                            27.399704
dumbo                               21.025959
enchanted_tiki_rm                    4.906537
expedition_everest                  32.429036
flight_of_passage                  114.806860
hall_of_presidents                   9.270353
haunted_mansion                     31.905298
it_s_a_small_world                  22.814251
jungle_cruise                       42.823386
kilimanjaro_safaris                 39.959134
laugh_floor                         16.463706
liberty_sq_riverboat                15.301442
mad_tea_party                       12.186767
magic_carpets                       18.254938
navi_river                          62.511237
peoplemover                         15.260048
peter_pan_s_flight                  55.624252
philharmagic                        12.123384
pirate_s_adventure                   1.338798
pirates_of_caribbean                28.524095
princess_hall__cinderella_elena     34.223871
princess_hall__rapunzel_tiana       31.687439
regal_carrousel                      9.172641
rock_n_rollercoaster                58.994605
slinky_dog                          72.703003
soarin                              45.654540
sorcerers_of_the_mk                  0.000000
space_mountain                      56.456800
spaceship_earth                     18.790590
splash_mountain                     43.731363
swiss_family_tree                    0.933885
tom_land_speedway                   25.678113
tom_sawyer_island                   15.432106
town_sq_mickey                      38.374548
toy_story_mania                     54.264905
under_the_sea                       19.470871
winnie_the_pooh                     28.120418
Name: SPOSTMIN, dtype: float64

Find the max and min SACTMIN time for each ride

Find the max and min SPOSTMIN time for each ride

Find the average SPOSTMIN time for each ride

Find the average SACTMIN time for each ride

## Question 5

In [57]:
disney.groupby('ride_name')['date'].value_counts()

ride_name        date
7_dwarfs_train   11/08/2021    363
                 10/01/2021    359
                 11/09/2021    344
                 10/29/2021    333
                 10/15/2021    332
                              ...
winnie_the_pooh  03/27/2015      2
                 05/11/2018      2
                 05/09/2018      1
                 07/08/2020      1
                 07/30/2015      1
Name: date, Length: 88353, dtype: int64

In [63]:
checked = disney.groupby('ride_name')['date'].value_counts()
checked

ride_name        date
7_dwarfs_train   11/08/2021    363
                 10/01/2021    359
                 11/09/2021    344
                 10/29/2021    333
                 10/15/2021    332
                              ...
winnie_the_pooh  03/27/2015      2
                 05/11/2018      2
                 05/09/2018      1
                 07/08/2020      1
                 07/30/2015      1
Name: date, Length: 88353, dtype: int64

In [59]:
# go into group according to ride_name in checked, work with each of the ride individually
# And pull out what were the maximum values

checked.groupby('ride_name').idxmax()

ride_name
7_dwarfs_train                                      (7_dwarfs_train, 11/08/2021)
alien_saucers                                        (alien_saucers, 10/16/2021)
astro_orbiter                                        (astro_orbiter, 11/08/2021)
barnstormer                                            (barnstormer, 11/08/2021)
big_thunder_mtn                                    (big_thunder_mtn, 10/01/2021)
buzz_lightyear                                      (buzz_lightyear, 11/08/2021)
carousel_of_progress                          (carousel_of_progress, 10/01/2021)
country_bears                                        (country_bears, 10/01/2021)
dinosaur                                                  (dinosaur, 10/03/2021)
dumbo                                                        (dumbo, 11/08/2021)
enchanted_tiki_rm                                (enchanted_tiki_rm, 10/01/2021)
expedition_everest                              (expedition_everest, 02/26/2019)
flight_of_passage                                (flight_of_passage, 02/26/2019)
hall_of_presidents                              (hall_of_presidents, 10/02/2021)
haunted_mansion                                    (haunted_mansion, 11/08/2021)
it_s_a_small_world                              (it_s_a_small_world, 10/01/2021)
jungle_cruise                                        (jungle_cruise, 10/01/2021)
kilimanjaro_safaris                            (kilimanjaro_safaris, 10/03/2021)
laugh_floor                                            (laugh_floor, 11/08/2021)
liberty_sq_riverboat                          (liberty_sq_riverboat, 12/22/2020)
mad_tea_party                                        (mad_tea_party, 11/08/2021)
magic_carpets                                        (magic_carpets, 11/08/2021)
navi_river                                              (navi_river, 02/26/2019)
peoplemover                                            (peoplemover, 11/08/2021)
peter_pan_s_flight                              (peter_pan_s_flight, 11/08/2021)
philharmagic                                          (philharmagic, 10/01/2021)
pirate_s_adventure                              (pirate_s_adventure, 11/08/2021)
pirates_of_caribbean                          (pirates_of_caribbean, 10/01/2021)
princess_hall__cinderella_elena    (princess_hall__cinderella_elena, 12/30/2018)
princess_hall__rapunzel_tiana        (princess_hall__rapunzel_tiana, 12/30/2018)
regal_carrousel                                    (regal_carrousel, 10/01/2021)
rock_n_rollercoaster                          (rock_n_rollercoaster, 10/10/2021)
slinky_dog                                              (slinky_dog, 10/02/2021)
soarin                                                      (soarin, 10/18/2021)
sorcerers_of_the_mk                            (sorcerers_of_the_mk, 04/28/2018)
space_mountain                                      (space_mountain, 11/08/2021)
spaceship_earth                                    (spaceship_earth, 10/04/2021)
splash_mountain                                    (splash_mountain, 10/01/2021)
swiss_family_tree                                (swiss_family_tree, 11/08/2021)
tom_land_speedway                                (tom_land_speedway, 04/08/2015)
tom_sawyer_island                                (tom_sawyer_island, 12/22/2020)
town_sq_mickey                                      (town_sq_mickey, 01/31/2015)
toy_story_mania                                    (toy_story_mania, 10/02/2021)
under_the_sea                                        (under_the_sea, 11/08/2021)
winnie_the_pooh                                    (winnie_the_pooh, 11/08/2021)
Name: date, dtype: object

In [60]:
# Then you can go ahead and look at the ride individually

checked['7_dwarfs_train']

date
11/08/2021    363
10/01/2021    359
11/09/2021    344
10/29/2021    333
10/15/2021    332
             ...
07/30/2015      5
10/07/2016      5
05/09/2018      4
05/11/2018      4
07/08/2020      1
Name: date, Length: 2334, dtype: int64

In [64]:
checked['flight_of_passage']

date
02/26/2019    695
10/03/2021    304
02/25/2019    298
10/10/2021    294
10/21/2021    292
             ...
07/08/2020     25
05/10/2018     13
05/09/2018     10
05/12/2018      8
05/11/2018      7
Name: date, Length: 1457, dtype: int64

In [65]:
checked['winnie_the_pooh']

date
11/08/2021    363
10/01/2021    347
11/09/2021    337
10/31/2021    332
10/17/2021    331
             ...
03/27/2015      2
05/11/2018      2
05/09/2018      1
07/08/2020      1
07/30/2015      1
Name: date, Length: 2333, dtype: int64

In [51]:
# Again, note that the value -999 indicates that the attraction was closed.

disney[disney['SPOSTMIN'] ==-999.0].groupby('ride_name')['SPOSTMIN'].count()

ride_name
7_dwarfs_train                      23062
alien_saucers                        5073
astro_orbiter                       17074
barnstormer                         18099
big_thunder_mtn                     23583
buzz_lightyear                      12125
carousel_of_progress                67895
country_bears                       94896
dinosaur                            18720
dumbo                               13196
enchanted_tiki_rm                  107050
expedition_everest                  20102
flight_of_passage                    5326
hall_of_presidents                  77363
haunted_mansion                     15782
it_s_a_small_world                   9506
jungle_cruise                       21004
kilimanjaro_safaris                 14033
laugh_floor                         28144
liberty_sq_riverboat                88425
mad_tea_party                        9322
magic_carpets                       18238
navi_river                           7567
peoplemover                         22424
peter_pan_s_flight                  10792
philharmagic                        14899
pirate_s_adventure                  82940
pirates_of_caribbean                21915
princess_hall__cinderella_elena      6875
princess_hall__rapunzel_tiana        6832
regal_carrousel                     63594
rock_n_rollercoaster                15001
slinky_dog                          10657
soarin                               5302
sorcerers_of_the_mk                 38872
space_mountain                      23355
spaceship_earth                     12807
splash_mountain                     32038
swiss_family_tree                   68183
tom_land_speedway                   16782
tom_sawyer_island                   98916
town_sq_mickey                       9060
toy_story_mania                      9585
under_the_sea                       11736
winnie_the_pooh                     20536
Name: SPOSTMIN, dtype: int64

Find the date that each ride was most frequently checked.

What was the most commonly closed ride? (Again, note that the value -999 indicates that the attraction was closed.)

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together â€“ We are Purdue.